body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    width: 100%;
    background-color: #218838;
    padding: 10px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Para asegurarse de que el centrado funcione correctamente */
}

.header-left {
    margin-left: 20px; /* Para dar un poco de espacio al logo desde el borde izquierdo */
}

.header-left img {
    width: 100px;
    height: 100px;
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.header-center h2 {
    margin: 0;
}

nav {
    margin-top: 5px; /* Ajustar el margen superior del nav */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px; /* Limitar el ancho máximo del contenedor */
    width: 90%; /* Utilizar el 90% del ancho disponible */
    margin-top: 20px; /* Espacio entre el header y el contenedor */
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Ajustar el margen inferior del botón para separarlo de la foto */
}

button:hover {
    background-color: #218838;
}

#result img, #exit-result img {
    width: 200px; /* Establecer un ancho fijo para la imagen */
    height: 200px; /* Establecer una altura fija para la imagen */
    object-fit: cover; /* Ajustar la imagen para que cubra el contenedor */
    margin-top: 20px; /* Ajustar el margen superior de la imagen para separarla del botón */
}
